#menu ul li {
    display: inline;
    
}
.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
  }
  header {
    background-color: rgb(154, 145, 191); 
    padding: 20px; 
    margin-top: 50px;
  }

  
  header h1 {
    color: #ffffff; 
    font-size: 54px; 
  }
  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

#menu a {
    text-decoration: none; 
    font-size: medium;
    padding: 4px 3px 4px 2px;
    color: rgb(237, 237, 237);
    font-family: 'Arial Narrow Bold', sans-serif;
    
}

#menu a:hover {
color:white;
background-color: rgb(17, 1, 54);
padding: 5px;
border-radius: 35%;
}

.flex {
    display: flex;
    margin-left: 700px;
}

/*class to put image and text side by side */
.flex1 {
    display: flex;
    justify-content: center;
}

.active {
    color:white;
background-color: rgb(13, 2, 61);
padding: 5px;
border-radius: 25%;
}

h1,h5 {
    color:rgb(16, 1, 54); 
    text-transform: uppercase;
     text-decoration: underline; 
     font-weight: 6px;
     font-size: large;
}
body {
    margin: 0px 0px 0px 0px;
}


/*class for image and text */
.heading_pad {
    padding: 30px 40px;
    justify-content: center
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: 0;
}
ul{
    list-style: none;
}
.footer{
     background-color: rgb(7, 1, 34);
     padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
body {
    margin: 0px;
    padding: 0;
    height: 100%;
  }

.footer-col h4{
    font-size: 10px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;


}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0. 3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
.main-content {
    margin: 0px 0px;
}

.footer-margin{
    margin: auto;
}

.footer-margin {
    margin-top: 50px;
}
/*responsive*/
@media(max-width: 767px){
    footer-col {
        width: 50%;
        margin-bottom: 30px;
} }
@media(max-width: 574px) {
    footer-col {
        width: 100%;
} }